/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    border: 1px solid white;
    font-family: sans-serif;
    height: 100%;
}
body {
    background-color: green;
    background-image: url("../images/backSpace.png");
    background-position: 50% -500px;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
.container {
    border: 1px solid red;
    height: 5460px;
    left: 50%; /* of what? */
    margin-left: -475px;
    position: absolute;
    width: 475px;
}
div.years {
    background-image: url("../images/years.png");
    border-left: 1px solid yellow;
    height: 3213px;
    left: 0;
    position: absolute;
    top: 237px;
    width: 69px;
    z-index: 45;
}
div.line_years {
    background-image: url("../images/line_years.png");
    border-right: 1px solid blue;
    height: 3228px;
    left: 0;
    position: absolute;
    top: 223px;
    width: 950px;
    z-index: 40;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
