/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    border: 1px solid white;
    font-family: sans-serif;
    height: 100%;
}
body {
    background-color: green;
    background-image: url("../images/backSpace.png");
    background-position: -500px 50%;
    background-repeat: no-repeat;
    overflow-y: hidden;
}
.container {
    border: 1px solid red;
    bottom: 50%; /* of what? */
    height: 475px;
    margin-bottom: -475px;
    position: absolute;
    width: 5460px;
}
div.years {
    background-image: url("../images/years.png");
    border-bottom: 1px solid yellow;
    bottom: 0;
    height: 69px;
    left: 237px;
    position: absolute;
    width: 3213px;
    z-index: 45;
}
div.line_years {
    background-image: url("../images/line_years.png");
    border-top: 1px solid blue;
    bottom: 0;
    height: 950px;
    left: 223px;
    position: absolute;
    width: 3228px;
    z-index: 40;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
