/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
body * {
    -webkit-perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: all 1.0s ease-in-out;
    -webkit-box-sizing: border-box;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.wrap {
/*    -webkit-transform-origin-y: 10%;*/
}
.card {
    bottom: 10%;
    left: 10%;
}

.face {
    -webkit-backface-visibility: hidden;
}
.back {
    -webkit-transform: rotateY(180deg);
}
.flip  {
    -webkit-transform: rotateY(180deg);
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#c0 {
    -webkit-transform: translateZ(-500px);
}
#c1 {
    -webkit-perspective: 1800px;
    -webkit-transform: translateZ(1px);
}
.flip #c1 {
    -webkit-transform: translateZ(-1px);
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
