/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    background-color: #ddd;
    font-family: sans-serif;
    font-size: 12px;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
}
.box {
    -webkit-transition: all 1.0s ease-in-out;
    transition: all 1.0s ease-in-out;
    background-color: #eee;
    background-image: url(http://10.89.101.100/flabby/images/play-vengefully.png);
    background-position: center;
    background-repeat: no-repeat no-repeat;
    background-size: contain;
    border-radius: 100%;
    border: 1px solid gray;
    box-shadow:  1px 1px 1px gray;
    color: #fff;
    height: 222px;
    padding: 5px;
    position: absolute;
    text-shadow: 0px 0px 2px #000;
    width: 222px;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.q1, .q3 {
    border: 1px dashed rgba(0,0,0,0.5);
    height: 50%;
    position: absolute;
    width: 50%;
}
.q1 {
    border-width: 0 0 1px 1px;
    box-sizing: border-box;
    right: 0;
    top: 0;
}
.q3 {
    border-width: 1px 1px 0 0;
    bottom: 0;
    box-sizing: content-box;
    left: 0;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
